2.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--
Nombre: David Ruiz
Curso: Daw1
Fecha: 19/04/2025
Ejercicio 2-->
<!--Longitud mínima y maxima de una clave-->
  <xs:element name="fichas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ficha" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="clave">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="4"/>
                    <xs:maxLength value="12"/>
                    <xs:pattern value="[a-zA-Z0-9]+"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>